
html, body{
    margin:0px;
    padding:0px;
}
body {
    font-size: 12px;
	background-color: white;
	color: #000000;
	font-family: Arial, Helvetica, sans-serif;
}
p, div {
	margin: 0px;
	padding: 0px;
}
form {
	margin:0px;
	padding:0px;
}
img {
	border: none;
	}
table, div {
    font-size:12px;
}
table table, table div, div table, div div {
    font-size:12px;
}

.adm_head {
	background: #081c2c url(/img/admin/head_bg.png) repeat-x;
	padding-left:16px;
	height: 33px;	
}
.adm_head, .adm_head a, .adm_head a:hover {
	color: #f0f8ff;
}
.adm_head a {
	text-decoration : none;
}
.adm_head a:hover {
	text-decoration : underline;
}

.pi3table {
	border-right:solid 1px #000;
	border-bottom:solid 1px #000;
	background-color: #e4e4e4;
}
.pi3table2 {
	border:solid 1px #000;
	background-color: #d0d1d0;
	color: black;
}
.pi3table th, .pi3table td {
	border-left:dotted 1px #000;
	border-top:dotted 1px #000;
	padding: 3px 4px 4px 4px;
}
.pi3table th, .pi3table td.top {
	border-top:solid 1px #000;
}
.pi3table .first {
	border-left:solid 1px #000;
}
.pi3table th {
	background:url(/img/admin/tbl_head.png) repeat-x left top;
	background-color: #e4e4e4;
	color: black;
}
.pi3table .sella {
	background: #FFF !important;
	border-left:solid 1px #000 !important;
}
.pi3table table, .pi3table table th, .pi3table table td {
	border:none;
}

/*
.tdTableBrd {
	background-color: #0066CC;
	color: white;
}
.tdTableTd2 	{
	background-color: #F0F8FF;
	color: black;
}
.tdTableTd 	{
	background-color: #E1EFFF;
	color: black;
}
*/
.adm_float {
    width: auto;
    float: left;
    padding-right: 10px;
}
.adm_help {
	background-color: #FFFFF0;
	background-image: url(q_bkg000.gif);
	background-repeat: no-repeat;
	background-position: left top;
	margin: 5px;
	padding: 15px;
	font-size: 120%;	
	border: solid 1px #000;
}
.adm_help h1 {
	margin: 0px;
	padding: 0px;
}
h1 {
	font-family: "Times New Roman", Times, serif;
	font-weight: normal;
	color: #d82000; 
/*	font-style: italic; */
	font-size: 20px;
}
.bobo h1 {
	color: #F0F8FF;
	margin:0px;
	padding:0px;
	}
h2 {
	font-size: 100%;
	font-weight: bold;
}
a {
	color:#000;
	text-decoration:underline;
}

a:hover {
	color: #000;
	text-decoration:none;
}
.copy {
	text-align:right;
	font-size: 11px;
}
.addblock {
	border: 1px dotted #000;
	background-color: #d2d2d2;
	/* #E1EFFF; */
	margin: 5px 0px 15px 0px;
	padding: 5px;
	}
.addblock span {
	
}
div {
	margin: 0px;
	padding: 0px;
}
.mainmenu {
	color: #999;
	}

.addblock a {
	color: #000;
	padding: 6px 2px 8px 2px;
	*padding: 7px 2px 7px 2px;
	}
.addblock a:hover {
	/*	color:#FFF; */
	padding: 6px 2px 8px 2px;
	*padding: 7px 2px 7px 2px;
	}
.mainmenu a {
	color: #000;
	padding: 6px;
/*	border: solid 1px #BDDFE0; */
	}
.mainmenu a:hover {
/*	border: solid 1px #BDDFE0;*/ 
	border: solid 1px #000; 
	padding: 5px;
	background-color:#d2d2d2;
}
.path {
	font-size: 10px;
	color: #00000;
	padding: 0px;
	margin-top: 15px;
	margin-right: 0px;
	margin-bottom: 0px;
	margin-left: 0px;
}
.path span {
	color: #999;
}
.path a, .path a:hover {
	color: #d82000;
}
.bobo {
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CEE8FF;
	margin-top: 10px;
	margin-bottom: 20px;
}
.bobo h1 {
	margin: 0px;
	padding: 0px;
}

 .CodeMirror-line-numbers {
        width: 2.2em;
        color: #aaa;
        background-color: #FFFFFF;
        text-align: right;
        padding-right: .3em;
        font-size: 10pt;
        font-family: monospace;
        padding-top: .4em;
        border-right: #ECE9D8 solid 1px;
      }
      .code {border: #7F9DB9 solid 1px; background: white;}
