#content {
width:1200px;
margin:0 auto;
}

.slider {
float:left;
width:1200px;
height:418px;
position:relative;
padding-bottom:26px;
}

.sliderContent {
float:left;
width:1200px;
height:418px;
clear:both;
position:relative;
overflow:hidden;
}

.sliderArrows a {
display:block;
text-indent:-9999px;
outline:none;
z-index:50;
background-image:url(../gfx/prev_next.png);
width:42px;
height:42px;
position:absolute;
top:50%;
margin-top:-34px;
}

.prev {
background-position:0 0;
left:15px;
}

.prev:hover {
background-position:0 -44px;
}

.next {
right:15px;
background-position:-44px 0;
}

.next:hover {
background-position:-44px -44px;
}

.sliderContent .item {
position:absolute;
width:1200px;
height:418px;
background:#fff;
overflow:hidden
}

.sliderBullets {
position:absolute;
top:385px; left:740px;
z-index:50;

}

.sliderBullets a {
display:block;
float:left;
text-indent:-9999px;
outline:none;
margin-left:5px;
width:23px;
height:19px;
background:url(../gfx/bullets.png) no-repeat;
}

.sliderBullets .active {
background-position:0 -20px; height:23px;
}

.sliderContent a {
outline:none;
}
.right_fonus{ background-image:url(../images/main_03.png); width:417px; height:418px; float:right; margin-top:-420px; position:relative; }
.textus_dlidesr{ margin: 100px 0 0 40px; position: absolute; top: 0; width: 380px; font-size:30px; color:#fff}